<!-- Start Bread Crumbs -->
<ul class="breadcrumb">
  <li><a routerLink="">Home</a></li>
  <li>About Us</li>
  <li>Our People</li>
  <li>Engagement Activities</li>
  <li>Communication Meetings</li>
</ul>
<!-- End Bread Crumbs  -->

<!-- start slider images -->
<div class="carousel">
  <div class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner w-100">
      <div *ngFor="let image of gallery; let i = index " [ngClass]="(i==0) ? 'active': ''" class="carousel-item">
        <img src="{{gallery_path + image}}" alt="" srcset="" height="70px" class="img-fluid w-100">
      </div>
    </div>
  </div>
</div>
<!-- end slider images -->

<!-- start text -->
<div *ngFor="let page of singlePage" class="mt-4">
  <div class="container">
    <div [innerHTML]="htmlStr"></div>
    <img src="{{page.image}}" alt="" srcset="">
  </div>
</div>
<!-- end text -->
