<div class="nav">
  <nav class="navbar navbar-expand-lg mx-4 px-2">
    <div class="row">
      <ul class="navbar-nav mr-auto mx-4 ">

        <li class="nav-item mx-2" id="home">
          <a class="nav-link" routerLink="/home"><i class="fa fa-home mx-2" aria-hidden="true"></i>Home
          </a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="tel:+968 24560111"><i class="fa fa-phone " aria-hidden="true"></i> +968 24560111</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href=""><i class="fa fa-envelope mx-2" aria-hidden="true"></i>info@sbigh.com</a>
        </li>
        <li class=" nav-item mx-2 menu-right ">
          <a href="https://www.linkedin.com/" target="_blank">
            <img src="../../../assets/images/social_icons/linkedin.svg" width="32px" height="32px" alt="" srcset="">
          </a>
        </li>
        <li class=" nav-item mx-2 menu-right ">
          <a href="https://www.facebook.com/" target="_blank">
            <img src="../../../assets/images/social_icons/facebook.svg" width="32px" height="32px" alt="" srcset="">
          </a>
        </li>
        <li class=" nav-item  mx-2 menu-right">
          <a href="https://www.twitter.com/" target="_blank">
            <img src="../../../assets/images/social_icons/twitter.svg" width="32px" height="32px" alt="" srcset="">
          </a>
        </li>
        <li class= "nav-item  mx-2 menu-right">
          <a href="https://www.instagram.com/" target="_blank">
            <img src="../../../assets/images/social_icons/instagram.svg" width="32px" height="32px" alt="" srcset="">
          </a>
        </li>
        <li class=" nav-item  mx-2 menu-right">
          <a href="https://www.youtube.com/" target="_blank">
            <img src="../../../assets/images/social_icons/youtube.svg" width="32px" height="32px" alt="" srcset="">
          </a>
        </li>
        <li class="nav-item mx-4 px-4"  id="search">
          <a href="" class="nav-link mx-4 px-4"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li> 
        <li class="nav-item dropdown" id="flag">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../assets/images/flags/britain_falg.png" class="mx-3" height="13px" width="25px" alt=""
              srcset="">
          </a>
        </li> 
      </ul>
    </div>
  </nav>

</div>
 
       <!-- <ul class="navbar-nav menu-right ml-auto mx-4 icons">
          <li class=" nav-item mx-2 menu-right ">
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../../../assets/images/social_icons/facebook.svg" width="32px" height="32px" alt="" srcset="">
            </a>
          </li>
          <li class=" nav-item  mx-2 ">
            <a href="https://www.twitter.com/" target="_blank">
              <img src="../../../assets/images/social_icons/twitter.svg" width="32px" height="32px" alt="" srcset="">
            </a>
          </li>
          <li class= "nav-item  mx-2">
            <a href="https://www.instagram.com/" target="_blank">
              <img src="../../../assets/images/social_icons/instagram.svg" width="32px" height="32px" alt="" srcset="">
            </a>
          </li>
          <li class=" nav-item  mx-2">
            <a href="https://www.youtube.com/" target="_blank">
              <img src="../../../assets/images/social_icons/youtube.svg" width="32px" height="32px" alt="" srcset="">
            </a>
          </li>
        
      </ul>
      -->
        
        
      
        <!-- <li class="nav-item mx-4 px-4" id="search">
          <a href="" class="nav-link mx-4 px-4"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li> 
        <li class="nav-item dropdown justify-content-end" id="flag">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../assets/images/flags/britain_falg.png" class="mx-3" height="13px" width="25px" alt=""
              srcset="">
          </a>
        </li> -->
    
