<!-- Start Bread Crumbs -->
<ul class="breadcrumb">
    <li><a routerLink="">Home</a></li>
    <li>Group Business</li>
    <li>Multi-Country Operations</li>
</ul>
<!-- End Bread Crumbs  -->

 <div class="mx-4 px-4">
    <h1 class="mx-1">Multi-Country Operations</h1>
    <div class="mx-1">
        <img src="../../../assets/images/multi_country_operations/multi-country-image.png" class="hovercountry" usemap="#shapemap" alt="country-map"   srcset="">
       <!--  area tag contained image.--> 
        <map name="shapemap">   
            <area target="" alt="libya" title="" class="hovercontryimg"  coords="102, 418,134,457,157,455,159,499,168,444" shape="poly"  href="../../../assets/images/multi_country_operations/libyam.jpg">
            <area shape="poly" coords="228,83,208,79,222,73,225,55,244,66,246,92,221,92,240,102,256,103" href="" alt="turkey" >
        </map>
    </div>
</div> 

<!-- <div id="image" class="mx-4" >
    <img src="../../../assets/images/multi_country_operations/multi-country-image.png" class="hovercountry mx-4" alt="" srcset="">
</div>
coordinates :
<div id="coordinates">0</div> -->