<!-- Start Bread Crumbs -->
<ul class="breadcrumb">
    <li><a routerLink="">Home</a></li>
    <li>Group Business</li>
    <li>Multi-Country Operations</li>
</ul>
<!-- End Bread Crumbs  -->

<div class="mx-4 px-4">
    <h1 class="mx-1">Multi-Country Operations</h1>
    <div class="mx-1">
        <img src="../../../assets/images/multi_country_operations/multi-country-image.png" usemap="#shapemap" alt="country-map" class="w-100"  srcset="">
        <map name="shapemap">
         
            <!-- area tag contained image. -->
            <!-- <area shape="libya" coords="59, 31, 28, 83, 91, 83" href="../../../assets/images/multi_country_operations/libyam.jpg"
            alt="libya"> -->
            
                <area target="" alt="" title=""  coords="6,138,9,92,46,95,70,101,86,83,102,102,105,143,100,176,64,161,42,150,22,149,3,137" shape="poly"  href="../../../assets/images/multi_country_operations/libyam.jpg">
           
        </map>
    </div>
</div>
