
<!-- Start Bread Crumbs -->
<ul class="breadcrumb">
  <li><a routerLink="">Home</a></li>
  <li>Group Business</li>
  <li>Big Brands</li>
</ul>
<!-- End Bread Crumbs  -->

<!-- Start Brand Type Buttons -->
<section>
  <div class="brands">
    <div class="row pt-4">
      <div class="col-lg-2 text-center">
        <h2>Big Brands</h2>
      </div>
      <div class="col-lg-9 mx-4 px-4 big-brands row">
        <button mat-button routerLink="/big-brands" class=" show mt-2 ">Show All</button>
        <div class="">
          <a >
            <img src="../../../assets/images/big_brands/car.png" class="mx-4 hoverimg" alt="">
            <h4 class="hovertext">car & suvs</h4>
          </a>
          <!-- <h4 class="text-center active">car & suvs</h4> -->
        </div>
        <div class="">
          <a href="/Commercial Vehicle">
            <img src="../../../assets/images/big_brands/truck.png" alt="" class=" mx-3 hoverimg" srcset="">
            <h4 class="hovertext">truck</h4> 
          </a>
        </div>
        <div class="">
          <a>
            <img src=" ../../../../../assets/images/big_brands/van.png" class="mx-3 hoverimg" alt="">
            <h4 class="hovertext">van</h4>
          </a>
        </div>
        <div class="">
          <a href="/Construction">
            <img src="../../../assets/images/big_brands/excavator.png" class="mx-3 img3 hoverimg" alt="" srcset="">
            <h4 class="hovertext">excavator</h4>
          </a>
        </div>
        <div class="">
          <a>
            <img src="../../../assets/images/big_brands/forklift.png" alt="" class="mx-3 hoverimg" srcset="">
            <h4 class="hovertext">forklift</h4>
          </a>
        </div>
        <div class="">
          <a>
            <img src="../../../assets/images/big_brands/crane.png" alt="" class="mx-3 hoverimg" srcset="">
            <h4 class="hovertext">crane</h4>
          </a>
        </div>

        <!-- <button mat-button class=" show " routerLink="/big-brands">Show All</button>
        <button mat-button class=" col-2  mx-2 active">Car and Suvs</button>
        <button mat-button routerLink="/Commercial Vehicle" class=" col-2 ">Commercial Vehicle</button>
        <button mat-button routerLink="/Construction" class=" col-2 mx-2">Construction</button>
        <button mat-button routerLink="/prodcucts" class=" col-2 mx-2">Products</button>
        <button mat-button routerLink="/services" class=" col-2 ">Services</button> -->
      </div>
    </div>
  </div>
</section>
<!-- End Brand Type Buttons -->

<!--start brand images with logos -->
<div class="container mt-3">
  <div class="row pt-3">
    <div class="col-3" *ngFor="let brands of BrandDetails;">
      <div class="flip-card mb-3">
        <a href="/{{brands.title}}">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{BrandImage_path+brands.image}}" alt="" srcset="" class="img-fluid" >
                  <h3 class="text-center pt-2">{{brands.title}}</h3>
          </div>
          <div class="flip-card-back  text-center">
            <img src="{{BrandImage_path+brands.logo}}" alt="" srcset="" class="img-fluid" >
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
<!-- end brand images with logos -->
