h1{
    font-size: 35px;
}
h2{
    margin-top: 5%;
    font-size: 22px;
}
h4{
    padding-top: 10px;
    font-weight: 550;
    font-size: 18px;
}
p{
    font-size: 14px;
    line-height: 25px;
}
.card{
    background-color: #f2f2f2;
    width: 450px;
    height: 580px;
    padding-left: 2%;
}
#input{
    width: 380px;
    height: 40px;
     border: 1px solid #e2e2e2; 
    padding-left: 15px;
    outline: none !important;
}
input{
    margin-top: 4%;
}
button{
    width: 100px;
    background-color: #00326d;
    color: #ffffff;
    outline: none !important;
}
