.footer{
    height: 150px;
    background: linear-gradient(90deg, rgba(3,3,73,255) 30%, rgba(22,1,104,255) 35%, rgba(2,2,72,255) 100%);
}
.footer  {
    h3{
        color: #ffffff;
        font-size: 35px;    
    }
    
     a{
        color: #ffffff;
        font-size: 20px;
    }
}

p {
     padding-left: 35%; 
     font-size: medium;
     padding-top: 10px;
}

 