<div class="footer text-center pt-4 mt-4">
    <h3 class="pt-4">Contact Us today to know more</h3>
    <div class="inline-block button">
        <a class="get-in-touch  animated fadeInLeft visible" data-animation="fadeInLeft" routerLink="/contact">Get in Touch </a>
      </div>
</div>

<!-- <div class="footer text-center mt-4 ">

    <h3 class="pt-4" data-animation="fadeInLeft">Contact Us Today to Know More </h3>
  
    <div class="inline-block pt-2 lr-pad-20 button">
      <a class="get-in-touch  animated fadeInLeft visible" data-animation="fadeInLeft" href="">Get in Touch </a>
    </div>
    <a href="https://www.facebook.com/bighrecruitment" target="_blank">
          <i class="fa fa-facebook"></i>
      </a>
       <a href="https://www.linkedin.com/company/17890751" target="_blank">
          <i class="fa fa-linkedin"></i>
      </a> 
      <a href="https://twitter.com/BIGHRecruitment" target="_blank">
          <i class="fa fa-twitter"></i>
      </a>
  
  </div> -->
  <p>Copyright@2016 sbigh.com. All Rights Reserved.</p>
  