.footer{
    height: 150px;
    background: linear-gradient(90deg, rgba(3,3,73,255) 30%, rgba(22,1,104,255) 35%, rgba(2,2,72,255) 100%);
}
.footer  {
    h3{
        color: #ffffff;
        font-size: 35px;    
    }
    
     a{
        color: #ffffff;
        font-size: 20px;
    }
}

p {
     font-size: medium;
     padding-top: 10px;
}

.top {
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #00326d;
    border-radius: 100px;
    white-space: nowrap;
    position: sticky;
    border: none;
  }
  #myBtn {
    bottom: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
   
  }
  
@media only screen and (max-width:991px) {
    .footer{
    height: 150px;
   }
   h3{
    font-size: 20px !important;
}
a{
    font-size: 15px;
}
}
 