<div class="footer text-center pt-4 mt-4">
    <h3 class="pt-4">Contact Us today to know more</h3>
    <div class="inline-block button">
        <a class="get-in-touch  animated fadeInLeft visible" data-animation="fadeInLeft" routerLink="/CONTACT US">Get in Touch </a>
      </div>
</div>

  <p class="text-center pb-3  ">{{copyRight}}</p>
  
<!-- start back-to-top -->
<div class="p-2">
  <button onclick="topFunction()" class="top float-right" title="Go-Top">&#8593;</button>
</div>
<!-- end back-to-top -->

<!--start for bottom space -->
<div class="mt-4 pt-4"></div>
<!-- end for bottom space -->