nav{
    height: 80px;
    .image{
        margin-left: 1%;
    }
    .navbar-nav{
        margin-left: 28%;
    }
    .nav-item{
        font-family: 'Roboto', sans-serif;
    }
    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }
    .dropdown-toggle::after {
        content: none;
    }
    .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    } 
    .dropdown-item:hover{
        background-color: #ebecf0;
    }
    .nav-item::after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        background: #00326d;
        transition: 0.4s
    }
    .navbar-nav .nav-link:focus,
     .navbar-nav a {
         color: #333333;
     }
    .navbar-nav .nav-link:focus,
     .navbar-nav .nav-link:hover,
     span:hover {
         color: #00326d;
     }
     .nav-item:hover::after {
        width: auto
    }
   .dropdown-menu .dropdown-item a::after{
    background-color: #ffffff !important;
   }

    .DynamicItems{
        width: auto;
        min-width: 200px;
        max-width: 300px;
        top: auto;
        left: 0px;
        margin-left: 70px;
        // margin-top: -41.5625px;
        margin-top: 8px;
    }
    
}
// @media only screen and (max-width:990px){
//     .nav{
//         display: block;
//         height:800px !important;
//         background-color: #ffffff !important;
//     }
// }