<div class="container ">
  <!-- info start -->
  <div class="row pt-4 mt-4 media_response">
    <div class="col-lg-3">
      <h2>Help & Support</h2>
      <p>Toll Free No (OMAN): </p>
      <p> 800 500 11 </p>
    </div>
    <div class="col-lg-3">
      <h2>Phone / FAX</h2>
      <p>Tel: 24560111</p>
      <p> Fax: 24566205 </p>
    </div>
    <div class="col-lg-3">
      <h2>Email Addresses</h2>
      <p><a href="">info@sbigh.com</a> </p>
      <p> <a href="">www.sbigh.com</a> </p>
    </div>
    <div class="col-lg-3">
      <h2>Address</h2>
      <p> P.O. Box 2665, Ruwi - 112,</p>
      <p> Sultanate of Oman. </p>
    </div>
  </div>
  <!-- info end -->
  <hr>
  <!-- maps start -->
  <div class="row media_response">
    <div class="col-lg-4">
      <h3>Country</h3>
      <select name="" class="px-2" id="">
        <option value="">All Countries</option>
        <option value="">Sultanate of Oman</option>
        <option value="">United Arab Emirates</option>
        <option value="">Saudi Arabia</option>
        <option value="">Republic of Iraq</option>
        <option value="">Libya</option>
      </select>
    </div>
    <div class="col-lg-4">
      <h3 class="brand">Brand</h3>
      <select name="" class="px-2" id="">
        <option value="">All Brand</option>
        <option value="">Amaron</option>
        <option value="">Auto Finance</option>
        <option value="">Autorent</option>
        <option value="">Autorent Car Service Center</option>
        <option value="">BAIC</option>
        <option value="">CASE</option>
        <option value="">DETA</option>
        <option value="">Infiniti</option>
        <option value="">IVECO</option>
        <option value="">Kyoto</option>
        <option value="">Lukoil</option>
        <option value="">Moatammad</option>
        <option value="">Nissan</option>
        <option value="">Popular Pre-Owned Cars</option>
        <option value="">Renault</option>
        <option value="">TCM Forklift</option>
        <option value="">Topcon</option>
        <option value="">TVS</option>
        <option value="">Silla</option>
        <option value="">Suzuki</option>
        <option value="">Simpedil</option>
        <option value="">Wacker Neuson</option>
      </select>
    </div>

    <div class="col-lg-4">
      <h3 class="type">Type</h3>
      <select name="" class="px-2" id="">
        <option value="">All Type</option>
        <option value="">Showroom</option>
        <option value="">Spare Part</option>
        <option value="">Service Center</option>
      </select>
    </div>
  </div>

  <div class="contact-us-icons1">

    <div class="contact-us-icons aem-GridColumn aem-GridColumn--default--12 mt-4 pt-4">
      <section class="contactUsSection noSlider grayNav customScroll clickableDiv">

        <div class="mapWrapper">
          <img src="https://www.tata.com/content/dam/tata/images/contact-us/map_svg.svg" alt="Contact Us">

          <div class="marker-1">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon1"
                  class="iconsMap1 hoverimg" alt="Contact us" />
                  <div class="hovertext card">
                    <div class="contact-us aem-GridColumn aem-GridColumn--default--12">
                      <section class="iconDetails">
                        <div id="icon1Div">
                          <div class="londonTxt mx-4 pt-4">
                            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">OMAN</a>
                            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">
                              <!-- <img src="https://www.tata.com/content/dam/tata/images/contact-us/mobile/pin.svg" alt="North America" srcset=""> -->
                            </a>
                          </div>
                          <div class="addDiv">
                            <span>
                              <!-- <b>Residen Director, Tata sons</b> -->
                            </span>
                            <!-- <span>Oman</span> -->
                            <!-- <span>1700 North MooreST, Suite 1520,</span> -->
                            <!-- <span>Arlington, VA 22209-1911</span> -->
                            <span></span>
                            <span></span>      
                            <span></span>
                            <span>
                              <b> Phone:</b>+968 24560111
                            </span>
                            <span>
                              <!-- <b>Fax:</b>+1 (703) 243 9791 -->
                            </span>
                            <span>
                              <b>Email:</b> <a href="mailto:www.gmail.com">info@sbigh.com</a>
                            </span>
                            <span class="px-2">
                              <b>Site:</b><a href="https://www.sbigh.com">www.sbigh.com</a>
                            </span>
                          </div>
                        </div>
                      </section>
                      <section>
                        <div class="modal clickableDiv" role="dialog" data-keyboard="false" data-backdrop="static" id="modalD"></div>
                      </section>
                      <section id="modalOverlay"></section>
                    </div>
                  </div>
              </a>
            </div>
          </div>

          <div class="marker-2">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon2"
                  class="iconsMap1 hoverimg" alt="Contact us" />
                    <div class="hovertext card">
                    <div class="contact-us aem-GridColumn aem-GridColumn--default--12">
                      <section class="iconDetails">
                        <div id="icon1Div">
                          <div class="londonTxt mx-4 pt-4">
                            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">OMAN</a>
                            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">
                              <!-- <img src="https://www.tata.com/content/dam/tata/images/contact-us/mobile/pin.svg" alt="North America" srcset=""> -->
                            </a>
                          </div>
                          <div class="addDiv">
                            <span>
                              <!-- <b>Residen Director, Tata sons</b> -->
                            </span>
                            <!-- <span>Oman</span> -->
                            <!-- <span>1700 North MooreST, Suite 1520,</span> -->
                            <!-- <span>Arlington, VA 22209-1911</span> -->
                            <span></span>
                            <span></span>      
                            <span></span>
                            <span>
                              <b> Phone:</b>+968 24560111
                            </span>
                            <span>
                              <!-- <b>Fax:</b>+1 (703) 243 9791 -->
                            </span>
                            <span>
                              <b>Email:</b> <a href="mailto:www.gmail.com">info@sbigh.com</a>
                            </span>
                            <span class="px-2">
                              <b>Site:</b><a href="https://www.sbigh.com">www.sbigh.com</a>
                            </span>
                          </div>
                        </div>
                      </section>
                      <section>
                        <div class="modal clickableDiv" role="dialog" data-keyboard="false" data-backdrop="static" id="modalD"></div>
                      </section>
                      <section id="modalOverlay"></section>
                    </div>
                  </div>
              </a>
            </div>
          </div>

          <div class="marker-3">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon3"
                  class="iconsMap1" alt="Contact us" />
              </a>
            </div>
          </div>

          <div class="marker-4">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon4"
                  class="iconsMap1" alt="Contact us" />
              </a>
            </div>
          </div>

          <div class="marker-5">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon5"
                  class="iconsMap1" alt="Contact us" />
              </a>
            </div>
          </div>

          <div class="marker-6">
            <div class="iconsMap">
              <a>
                <img src="https://www.tata.com/content/dam/tata/images/contact-us/Location_pin.svg" id="icon6"
                  class="iconsMap1" alt="Contact us" />
              </a>
            </div>
          </div>

          <div class="imageOverContactUs"></div>
        </div>
      </section>

    </div>

    <!-- <div class="contact-us aem-GridColumn aem-GridColumn--default--12">
      <section class="iconDetails">
        <div id="icon1Div">
          <div class="londonTxt">
            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">Norrth America</a>
            <a href="http://goo.gl/maps/UJLpM8MQ6dS2" target="_blank" rel="noopener noreferrer">
              <img src="https://www.tata.com/content/dam/tata/images/contact-us/mobile/pin.svg" alt="North America" srcset="">
            </a>
          </div>
          <div class="addDiv">
            <span>
              <b>Residen Director, Tata sons</b>
            </span>
            <span>North America</span>
            <span>1700 North MooreST, Suite 1520,</span>
            <span>Arlington, VA 22209-1911</span>
            <span></span>
            <span></span>      
            <span></span>
            <span>
              <b> Phone:</b>+1 (703) 243 9787
            </span>
            <span>
              <b>Fax:</b>+1 (703) 243 9791
            </span>
            <span>
              <b>Email:</b> <a href="mailto:www.gmail.com">Oman</a>
            </span>
            <span>
              <b>Site:</b><a href="https://www.sbigh.com">www.sbigh.com</a>
            </span>
          </div>
        </div>
      </section>
      <section>
        <div class="modal clickableDiv" role="dialog" data-keyboard="false" data-backdrop="static" id="modalD"></div>
      </section>
      <section id="modalOverlay"></section>
    </div> -->

  </div>
<!-- map end -->
  <hr>
  <!-- enquiry form start-->
  <h3 class="pt-3">Enquiry Form</h3>
  <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" action="" method="POST">
    <div class="row form-group">
      <div class="col-lg-6">
        <input type="text" class="px-2 form-control" required formControlName="fullname" name=""
          placeholder="Full Name*" id="">
        <br> <br>
        <input type="email" class="px-2 form-control" required formControlName="email" name="" placeholder="Email*"
          id="">
        <br><br>
        <input type="tel" class="px-2 form-control" required name="" formControlName="phone" placeholder="Phone"
          id=""><br> <br>
        <select name="" class="px-2 form-group" formControlName="brand" required id="brand">
          <option value="">Subject</option>
          <option value="">General</option>
          <option value="">Sales</option>
          <option value="">Parts</option>
          <option value="">Service</option>
        </select>
      </div>
      <div class="col-lg-6 form-group">
        <select name="" required class="px-2 form-control" formControlName="subject" id="brand">
          <option value="">Select Brand</option>
          <option value="">Amaron</option>
          <option value="">Auto Finance</option>
          <option value="">Autorent</option>
          <option value="">Autorent Car Service Center</option>
          <option value="">BAIC</option>
          <option value="">CASE</option>
          <option value="">DETA</option>
          <option value="">Infiniti</option>
          <option value="">IVECO</option>
          <option value="">Kyoto</option>
          <option value="">Lukoil</option>
          <option value="">Moatammad</option>
          <option value="">Nissan</option>
          <option value="">Popular Pre-Owned Cars</option>
          <option value="">Renault</option>
          <option value="">TCM Forklift</option>
          <option value="">Topcon</option>
          <option value="">TVS</option>
          <option value="">Silla</option>
          <option value="">Suzuki</option>
          <option value="">Simpedil</option>
          <option value="">Wacker Neuson</option>
        </select><br><br>
        <textarea name="" class="px-2 form-control" formControlName="message" required placeholder="Message" id=""
          cols="30" rows="10"></textarea><br><br>
        <button id="brand" type="ngSubmit"> Send Now <i class="fa fa-paper-plane px-2"></i></button>
      </div>
    </div>
    <div class="pt-4"></div>
  </form>
<!-- enquiry form end -->
</div>
