<div class="container ">
  <div class="row pt-4 mt-4">
    <div class="col-lg-3">
      <h2>Help & Support</h2>
      <p>Toll Free No (OMAN): </p>
      <p> 800 500 11 </p>
    </div>
    <div class="col-lg-3">
      <h2>Phone / FAX</h2>
      <p>Tel: 24560111</p>
      <p> Fax: 24566205 </p>
    </div>
    <div class="col-lg-3">
      <h2>Email Addresses</h2>
      <p><a href="">info@sbigh.com</a> </p>
      <p> <a href="">www.sbigh.com</a> </p>
    </div>
    <div class="col-lg-3">
      <h2>Address</h2>
      <p> P.O. Box 2665, Ruwi - 112,</p>
      <p> Sultanate of Oman. </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <h3>Country</h3>
      <select name="" class="px-2" id="">
        <option value="">All Countries</option>
        <option value="">Sultanate of Oman</option>
        <option value="">United Arab Emirates</option>
        <option value="">Saudi Arabia</option>
        <option value="">Republic of Iraq</option>
        <option value="">Libya</option>
      </select>
    </div>
    <div class="col-lg-4">
      <h3>Brand</h3>
      <select name="" class="px-2" id="">
        <option value="">All Brand</option>
        <option value="">Amaron</option>
        <option value="">Auto Finance</option>
        <option value="">Autorent</option>
        <option value="">Autorent Car Service Center</option>
        <option value="">BAIC</option>
        <option value="">CASE</option>
        <option value="">DETA</option>
        <option value="">Infiniti</option>
        <option value="">IVECO</option>
        <option value="">Kyoto</option>
        <option value="">Lukoil</option>
        <option value="">Moatammad</option>
        <option value="">Nissan</option>
        <option value="">Popular Pre-Owned Cars</option>
        <option value="">Renault</option>
        <option value="">TCM Forklift</option>
        <option value="">Topcon</option>
        <option value="">TVS</option>
        <option value="">Silla</option>
        <option value="">Suzuki</option>
        <option value="">Simpedil</option>
        <option value="">Wacker Neuson</option>
      </select>
    </div>

    <div class="col-lg-4">
      <h3>Type</h3>
      <select name="" class="px-2" id="">
        <option value="">All Type</option>
        <option value="">Showroom</option>
        <option value="">Spare Part</option>
        <option value="">Service Center</option>
      </select>
    </div>
  </div>
  <hr>
  <h3 class="pt-3">Enquiry Form</h3>
  <!-- <form action="http://45.9.191.123:4000/api/web/contact" 
     accesskey="eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY1NjU4NDE0OCwiaWF0IjoxNjU2NTg0MTQ4fQ.qC7l9iZaDJyC39FA4IvdcgNbDPp5KFyVBU_G1vDgvZs" 
     method="post"> -->
  <!-- <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"> -->
    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" >
    <div class="row form-group">
      <div class="col-lg-6">
        <input type="text" class="px-2 form-control" required formControlName="fullname" name="" placeholder="Full Name*" id="">
        <br> <br>
        <input type="email" class="px-2 form-control" required formControlName="email" name="" placeholder="Email*" id="">
        <br><br>
        <input type="tel" class="px-2 form-control" required name="" formControlName="phone" placeholder="Phone" id=""><br> <br>
        <select name="" class="px-2 form-group" formControlName="brand" required  id="brand">
          <option value="">Subject</option>
          <option value="">General</option>
          <option value="">Sales</option>
          <option value="">Parts</option>
          <option value="">Service</option>
        </select>
      </div>
      <div class="col-lg-6 form-group">
        <select name="" required class="px-2 form-control" formControlName="subject" id="brand">
          <option value="">Select Brand</option>
          <option value="">Amaron</option>
          <option value="">Auto Finance</option>
          <option value="">Autorent</option>
          <option value="">Autorent Car Service Center</option>
          <option value="">BAIC</option>
          <option value="">CASE</option>
          <option value="">DETA</option>
          <option value="">Infiniti</option>
          <option value="">IVECO</option>
          <option value="">Kyoto</option>
          <option value="">Lukoil</option>
          <option value="">Moatammad</option>
          <option value="">Nissan</option>
          <option value="">Popular Pre-Owned Cars</option>
          <option value="">Renault</option>
          <option value="">TCM Forklift</option>
          <option value="">Topcon</option>
          <option value="">TVS</option>
          <option value="">Silla</option>
          <option value="">Suzuki</option>
          <option value="">Simpedil</option>
          <option value="">Wacker Neuson</option>
        </select><br><br>
        <textarea name="" class="px-2 form-control" formControlName="message" required placeholder="Message" id="" cols="30" rows="10"></textarea><br><br>
        <!-- <button id="brand">Send Now<i class="fa fa-paper-plane px-2"></i></button> -->
        <button id="brand"> Send Now <i class="fa fa-paper-plane px-2"></i></button>
      </div>
    </div>
    <div class="pt-4"></div>
  </form>

</div>
