<h1 class="text-center mx-2 mt-2 pt-4">Press Releases</h1>

<section class="press-release m-2">
    <div class="row pt-2">
      <div class="col-lg-3 ">
        <mat-card class="press-card ">
          <mat-card-header>
            <mat-card-title>
              <h3> <b>Gulf Great Sands Launches Premium Brand ‘’BESTUNE’’ In Oman.</b></h3>
            </mat-card-title>
            <mat-card-subtitle><i>07 Mar 2022</i></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/images/home_page_press_releases/gulfgreat_img.jpg" alt="">
          <mat-card-content>
            <p>Gulf Great Sands (GGS) LLC has launched BESTUNE, a popular automotive global brand, in Oman <br> <a
                routerLink="/Press Releases">Read
                More..</a> </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3">
        <mat-card class="press-card">
          <mat-card-header>
            <mat-card-title>
              <h3> <b>All-New Nissan Sunny 2020 Now Available In Oman</b></h3>
            </mat-card-title>
            <mat-card-subtitle><i>15 Jul 2020</i></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="mt-4" src="../../../assets/images/home_page_press_releases/allnew_nissan.jpg" alt="">
          <mat-card-content>
            <p>Nissan Oman, from the house of Suhail Bahwan Automobiles, has launched the all-new Nissan <br> <a
                routerLink="/Press Releases">Read
                More..</a> </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3">
        <mat-card class="press-card">
          <mat-card-header>
            <mat-card-title>
              <h3><b>AGAE Introduces Automotive Brand ‘CHANGAN’ In Oman</b></h3>
            </mat-card-title>
            <mat-card-subtitle><i>1 Dec 2020 </i></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="pt-4" src="../../../assets/images/home_page_press_releases/agae.jpg" alt="">
          <mat-card-content>
            <p>Arabian Gulf Automobiles and Equipment LLC (AGAE) which is part of Bahwan International Group <br> <a
                routerLink="/Press Releases">Read More..</a></p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3">
        <mat-card class="press-card" id="press-card">
          <mat-card-header>
            <mat-card-title>
              <h3><b>Nissan Maxima Delivers Brilliant Tech-Powered Performance</b></h3>
            </mat-card-title>
            <mat-card-subtitle><i>20 Jan 2022</i></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/images/home_page_press_releases/nissan_maxima.jpg" class="w-100" alt="">
          <mat-card-content>
            <p>The game-changing Nissan Maxima continues to impress auto enthusiasts in Oman  <br>
              <a routerLink="/Press Releases">Read More..</a></p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <div class="pt-4 text-center">
        <button mat-button routerLink="/Press Releases" class="btn btn-outline ">View all</button>
      </div>
  </section>